* {
    margin: 0px;
    padding: 0px;
    color: #fefbee;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1em;
    background-color: #010411;
}

::-webkit-scrollbar-track {
    background-color: #04124d;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(229, 89%, 54%, 0.5);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsla(229, 89%, 54%, 1);
}

::selection {
    color: #010411;
    background-color: #fefbee;
}

@font-face {
    font-family: noto;
    src: url(../resources/font/NotoSans-Light.ttf);
}

@font-face {
    font-family: remond;
    src: url(../resources/font/Remond-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../resources/font/RobotoCondensed-Bold.ttf);
}

body {
    overflow: hidden;
    position: relative;
    background: linear-gradient(45deg, rgba(1, 4, 17, 0.6) 0%, rgba(4, 18, 77, 0.6) 50%, rgba(33, 72, 242, 0.6) 100%);
    background-color: #010411;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    border: 10px solid #fefbee;
    animation-name: body;
    animation-duration: 1s;
    box-sizing: border-box;
}

@keyframes body {

    0%,
    30% {
        border-width: 80px;
    }

    100% {
        border-width: 10px;
    }
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 85vw;
    height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation-name: glass;
    animation-duration: 1s;
}

@keyframes glass {

    0%,
    30% {
        width: 100%;
        height: 100vh;
    }

    100% {
        width: 85vw;
        height: 65vh;
    }
}

.logo svg {
    fill: #fefbee;
    height: 400px;
}

.text-logo-0,
.text-logo-1,
.text-logo-2,
.text-logo-3,
.text-logo-4,
.text-logo-5,
.text-logo-6,
.text-logo-7 {
    transition: 0.5s;
}

.logo:hover .text-logo-0 {
    transform: translateX(10px);
    transition: 0.5s;
}

.logo:hover .text-logo-1 {
    transform: translateX(20px);
    transition: 0.5s;
}

.logo:hover .text-logo-2 {
    transform: translateX(30px);
    transition: 0.5s;
}

.logo:hover .text-logo-3 {
    transform: translateX(40px);
    transition: 0.5s;
}

.logo:hover .text-logo-4 {
    transform: translateX(50px);
    transition: 0.5s;
}

.logo:hover .text-logo-5 {
    transform: translateX(60px);
    transition: 0.5s;
}

.logo:hover .text-logo-6 {
    transform: translateX(70px);
    transition: 0.5s;
}

.logo:hover .text-logo-7 {
    transform: rotateZ(5deg);
    transform-origin: 15% 59%;
    transition: 0.5s;
}

.logo {
    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes logo {

    0%,
    30% {
        filter: blur(20px);
        opacity: 0;
    }

    60% {
        filter: blur(0px);
        opacity: 1;
    }
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    margin: auto;
}

.logo,
.text-and-link {
    margin-inline: 20px;
}

.text {
    font-family: remond;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.link {
    margin-top: 30px;
    transition: 0.3s;
    text-align: center;
}

.link a {
    position: relative;
    text-decoration: none;
    font-family: roboto;
    font-size: 50px;
    padding: 10px;
    padding-inline: 20px;
    transition: 0.3s;
    border-radius: 15px;
    border: 5px solid #fefbee;
    z-index: 5;
    animation-name: link-animation-onclick-text;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes link-animation-onclick-text {
    100% {
        color: #fefbee;
    }
}

.link a:hover {
    background-color: #fefbee;
    color: #d4af0c;
    padding-inline: 50px;
    border-radius: 50px;
    transition: 0.3s;
}

.link:hover {
    transition: 0.3s;
}

.text-and-link {
    align-self: center;
    width: auto;
    animation-name: text-and-link;
    animation-duration: 1.6s;
}

@keyframes text-and-link {

    0%,
    80% {
        opacity: 0;
    }
}

.link-animation-onclick-holder {
    overflow: hidden;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    position: absolute;
    top: 0;
    text-align: center;
}

.link-animation-onclick {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 100px;
    scale: 0;
    z-index: 3;
    fill: #fefbee;
    animation-name: link-animation-onclick;
    animation-duration: 2s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

@keyframes link-animation-onclick {
    100% {
        scale: 50;
    }
}

.social-media-links {
    display: flex;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: social-media-links;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.000, 0.000, 0.355, 1.650);
}

@keyframes social-media-links {

    0%,
    85% {
        top: 100%;
    }

    100% {
        top: 90%;
    }
}

.social-media-icon {
    height: 35px;
    margin-inline: 6px;
}

.discord-icon,
.youtube-icon,
.reddit-icon,
.x-icon {
    fill: hsla(49, 89%, 96%, 0.6);
    transition: 0.2s;
}

.social-media-icon:hover .discord-icon {
    fill: #5865F2;
    transition: 0.2s;
}

.social-media-icon:hover .youtube-icon {
    fill: #ff0000;
    transition: 0.2s;
}

.social-media-icon:hover .reddit-icon {
    fill: #ff5700;
    transition: 0.2s;
}

.social-media-icon:hover .x-icon {
    fill: #ffffff;
    transition: 0.2s;
}

.social-media-comment {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    font-family: noto;
    font-size: 15px;
    width: 200px;
    visibility: hidden;
    color: hsla(49, 89%, 96%, 0);
    transition: 0.2s;
}

.discord-link:hover+.discord-comment {
    visibility: visible;
    color: hsla(49, 89%, 96%, 1);
    transition: 0.3s;
    transition-delay: 0.2s;
}

.youtube-link:hover+.youtube-comment {
    visibility: visible;
    color: hsla(49, 89%, 96%, 1);
    transition: 0.3s;
    transition-delay: 0.2s;
}

.reddit-link:hover+.reddit-comment {
    visibility: visible;
    color: hsla(49, 89%, 96%, 1);
    transition: 0.3s;
    transition-delay: 0.2s;
}

.x-link:hover+.x-comment {
    visibility: visible;
    color: hsla(49, 89%, 96%, 1);
    transition: 0.3s;
    transition-delay: 0.2s;
}

.full-signature {
    width: 150px;
    position: absolute;
    bottom: 10PX;
    right: 30px;
}

.signature {
    fill: none;
    stroke: #fefbee;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 69px;
    stroke-dasharray: 12893.45;
    stroke-dashoffset: 12893.45;
    transition: 1s;
    transition-timing-function: ease;
}

.signature-dot {
    visibility: hidden;
    fill: #fefbee;
}

.full-signature:hover .signature {
    stroke-dashoffset: 0;
    transition: 0.5s;
    transition-timing-function: ease-in;
}

.full-signature:hover .signature-dot {
    transition-delay: 0.6s;
    visibility: visible;
}

@media only screen and (max-width: 1100px) {
    .logo svg {
        height: 300px;
    }
}

@media only screen and (max-width: 920px) {
    .text {
        font-size: 25px;
    }
}

@media only screen and (max-width: 870px) {
    main {
        display: block;
    }

    .logo svg {
        height: 200px;
        margin-bottom: 40px;
        margin-inline: 0 auto;
    }

    .logo {
        text-align: center;
    }
}

@media only screen and (max-width: 440px) {
    .logo svg {
        height: 180px;
    }
}

.cube-container {
    perspective: 1000px;
    perspective-origin: 100% 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: -1;
}

.cube {
    position: relative;
    width: 393px;
    height: 393px;
    transform-style: preserve-3d;
    animation: cube-rotate 20s linear infinite;
}

.cube>div {
    position: absolute;
    width: 393px;
    height: 393px;
    opacity: 0.9;
    border: #fefbee solid 5px;
}

.s1 {
    transform: translateZ(200px);
}

.s2 {
    transform: rotateY(90deg) translateZ(200px);
}

.s3 {
    transform: rotateY(180deg) translateZ(200px);
}

.s4 {
    transform: rotateX(90deg) translateZ(200px);
}

.s5 {
    transform: rotateY(-90deg) translateZ(200px);
}

.s6 {
    transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
}

@keyframes cube-rotate {
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    }
}