html {
    height: 100%;
    max-width: 100vw;
}

.first-display {
    height: calc(100vh - 85px);
    width: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, rgba(4, 18, 77, 0.5) 0%, rgba(33, 72, 242, 0.5) 100%);
}

.first-display div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
}

.first-display img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(100vh - 85px);
    object-fit: cover;
    filter: grayscale(0.4);
}

.first-display h1 {
    font-size: 60px;
    font-family: remond;
}

.first-display p {
    font-family: noto;
}

.first-display p,
.first-display h1 {
    margin-block: 10px;
}

.about-anchor-link {
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    height: 30px;
    fill: #fefbee;
    padding: 20px;
    opacity: 0.5;
    transition: 0.2s;
    animation-name: anchor-arrow-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    top: calc(100vh - 80px);
}

.about-anchor-link:hover {
    opacity: 1;
    transition: 0.2s;
}

@keyframes anchor-arrow-animation {
    0% {
        transform: translate(50%, -5px);
    }

    50% {
        transform: translate(50%, 5px);
    }

    100% {
        transform: translate(50%, -5px);
    }
}

.about-anchor {
    position: absolute;
    top: calc(100vh - 84px);
}

.about-home {
    height: calc(100vh - 85px);
    width: 100%;
    background-color: #fefbee;
}

.about-home-text h1::selection,
.about-home-text p::selection {
    color: #fefbee;
    background-color: #010101;
}

.about-home>div:not(.about-anchor) {
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-inline: 30px;
}

.about-home-image {
    background-image: url(../../resources/image/jpg/zertline-img-placeholder.jpg);
    width: 450px;
    aspect-ratio: 16 / 9;
    margin: 15px;
    border-radius: 30px;
    border: 3px solid;
    border-color: #010411;
    transition: border-color 0.2s, background-size 0.5s;
    background-size: 450px;
    background-position: center;
    flex: 1 0 450px;
}

.about-home-image:hover {
    border-color: #d4af0c;
    transition: border-color 0.2s, background-size 0.5s;
    background-size: calc(450px*1.5);
    transition-timing-function: ease-out;
}

.about-home-text {
    padding: 15px;
}

.about-home-text * {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #010411;
}

.about-home-text h1 {
    font-family: remond;
    margin-left: 5px;
    font-size: 50px;
}

.about-home-text p {
    font-family: noto;
}

.about-home-content {
    height: 500px;
    position: relative;
}

.pn-news {
    background-color: #6321f2;
    border-right: 10px solid #d4af0c;
}

.pn-projects {
    background-color: #0bc181;
    border-left: 10px solid #d4af0c;
}

.pn-icon {
    height: 250px;
    align-self: center;
    margin-inline: 40px;
    fill: #fefbee;
    stroke-width: 10px;
}

.pn-icon-projects {
    margin-left: 80px;
}

.pn-icon-news {
    margin-right: 80px;
}

.pn-inside {
    position: relative;
    display: flex;
    height: calc((100vh - 85px)/1.5);
    transition: 0.3s;
}

.pn-text {
    text-align: center;
    align-self: center;
    font-family: noto;
    font-weight: 600;
    line-height: 1.8;
    margin-inline: 40px;
    transition: 0.3s;
}

.pn-title {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 40px;
    font-family: remond;
    font-size: 50px;
    text-decoration: #04124d underline;
    text-underline-offset: 7px;
}

.pn-anchor-news-link-icon {
    position: absolute;
    height: 30px;
    right: 50%;
    top: -80px;
    fill: #010411;
    padding: 20px;
    animation-name: anchor-arrow-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.pn-anchor-news {
    position: absolute;
    top: -85px;
}

#pn-anchor-news:target~.pn-news {
    height: calc(100vh - 85px);
    transition: 0.3s;
}

#pn-anchor-news:target~.pn-news .pn-text-news {
    line-height: 2.5;
    transition: 0.3s;
}

.pn-anchor-projects-link-icon {
    position: absolute;
    height: 30px;
    right: 50%;
    top: -80px;
    fill: #fefbee;
    padding: 20px;
    animation-name: anchor-arrow-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.pn-anchor-projects {
    position: absolute;
    top: -85px;
}

#pn-anchor-projects:target~.pn-projects {
    height: calc(100vh - 85px);
    transition: 0.3s;
}

#pn-anchor-projects:target~.pn-projects .pn-text-projects {
    line-height: 2.5;
    transition: 0.3s;
}

.pn-news-holder {
    position: relative;
}

.pn-projects-holder {
    position: relative;
}

.pn-icon-news-mobile {
    display: none;
}

@media only screen and (max-width: 960px) {
    .about-home>div:not(.about-anchor) {
        display: block;
    }

    .about-home-image {
        position: relative;
        width: 450px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 540px) {
    .about-home-image {
        width: 350px;
        background-size: 350px;
    }

    .about-home-image:hover {
        background-size: calc(350px*1.5);
    }
}

@media only screen and (max-width: 480px) {
    .about-home {
        height: 100vh;
    }

    .about-home-content {
        height: auto !important;
    }
}

@media only screen and (max-width: 1400px) {
    .pn-inside {
        height: calc((100vh - 85px)/1.1);
    }
}

@media only screen and (max-width: 1150px) {
    .pn-icon-news-mobile {
        display: block;
    }

    .pn-icon-news-desktop {
        display: none;
    }

    .pn-text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
    .pn-inside {
        padding-top: 100px;
        padding-bottom: 50px;
        display: block;
        height: auto !important;
    }

    .pn-icon {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-block: 20px;
        margin-inline: 0;
        height: 150px;
    }

    .pn-anchor-news-link-icon,
    .pn-anchor-projects-link-icon,
    .about-anchor-link {
        display: none;
    }
}