header {
  background-color: #04332d;
}

.projects-header {
  padding-block: 25px;
  font-size: 50px;
  font-family: roboto;
  background-color: #0bc181;
  width: 100%;
  text-align: center;
  color: #fefbee;
  border-bottom: #fbedb2 solid 5px;
}

.projects-card-holder {
  width: 100%;
  text-align: center;
  margin-block: 2%;
}

.projects-card {
  display: inline-block;
  position: relative;
  width: 400px;
  aspect-ratio: 4 / 3;
  background-color: darkcyan;
  margin: 2%;
  border-radius: 20px;
  overflow: hidden;
}

.projects-card:hover .projects-card-title-logo {
  top: -50%;
  transition: 0.4s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.projects-card:hover .projects-card-text {
  top: 50%;
  transition: 0.4s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.projects-card-target {
  text-decoration: none;
  width: 400px;
  aspect-ratio: 4 / 3;
}

.projects-card-title-logo {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin-inline: 20px;
  text-align: center;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.projects-card-logo {
  fill: #fbedb2;
  height: 60px;
}

.projects-card-title {
  font-size: 50px;
  font-family: roboto;
  width: 360px;
}

.projects-card-text {
  position: absolute;
  font-family: noto;
  font-weight: 600;
  margin-inline: 25px;
  text-align: center;
  width: 350px;
  top: 150%;
  transform: translateY(-50%);
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.projects-card-banner {
  position: absolute;
  top: 0;
  opacity: 0.5;
  background-image: url("../../resources/image/jpg/zertline-img-placeholder.jpg");
  width: 400px;
  aspect-ratio: 4 / 3;
  transition: 1s;
}

.projects-card:hover .projects-card-banner {
  transform: scale(2);
  transition: 1s;
}

main {
  background-color: blueviolet;
}

@media only screen and (max-width: 440px) {
  .projects-card {
    width: 300px;
  }

  .projects-card-target {
    width: 300px;
  }

  .projects-card-title {
    font-size: 25px;
    width: 260px;
  }

  .projects-card-logo {
    height: 60px;
  }

  .projects-card-text {
    margin-inline: 20px;
    width: 260px;
    font-size: 13px;
  }
}
